* {
	margin: 0;
}
body {
	font-size: 15pt;
}

/* header and section content spacing */
header, section {
	padding: 10px 40px;
}

/* header styling */
header {
	background-color: #757575;
}
/* sticky navigation styling */
.stickyContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* navigation styling  */
ul {
	/* border: 1px dashed black; */
	padding: 8px 0px;
	background-color: #272727;
	list-style-type: none;
}
li {
	/* width: 100%; */
	/* border: 1px dashed black; */
	padding: 8px 10px;
	display: inline;
	/* float: left; */
	color: white;
}
li:hover {
	background-color: #424242;
}
.active {
	background: #424242;
}