* {
	margin: 0;
}
body {
	font-size: 15pt;
}

/* header and section content spacing */
header, section {
	padding: 10px 40px;
}

/* header styling */
header {
	height: 584px;
	/* background-color: #757575; */
	background-image: url(MIUI01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
/* sticky navigation styling */
.stickyContainer {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	border-radius: 20px;
	padding: 10px;
	background: rgba(19, 19, 19, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* navigation styling  */
ul {
	/* border: 1px dashed black; */
	padding: 8px 0px;
	background-color: #272727;
	list-style-type: none;
}
li {
	/* width: 100%; */
	/* border: 1px dashed black; */
	padding: 8px 10px;
	display: inline;
	/* float: left; */
	color: white;
}
li:hover {
	background-color: #424242;
}
.active {
	background: #424242;
}