/* default small changes */
* {
	margin: 0;
}
body {
	font-size: 12pt;
}
div {
 overflow: hidden;
}
img {
 width: 100%;
 height: auto;
}

/* assets */
.picContainer {
 width: 300px;
 height: 400px;
 padding: 10px;
 background: white;
 display: flex;
 justify-content: center;
}
.picContainer img {
 width: 100%;
 height: 300px;
} 

/* header and section content spacing */
header, section, .footerContent, .footerCopyright {
	padding: 12px 65px;
}

/* header styling */
header {
	height: 584px;
	/* background-color: #757575; */
	background-image: url(/headerBackground02_1.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
/* sticky navigation styling */
header .stickyContainer {
 width: 80%;
 justify-self: center;
	position: -webkit-sticky;
	position: sticky;
	/* width: 100%; */
	/* position: fixed; */
	top: 10px;
	border-radius: 20px;
	padding: 8px 14px;
	background: rgba(19, 19, 19, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}
/* navigation styling  */
header ul {
	/* border: 1px dashed black; */
	padding: 8px 0px;
	/* background-color: #272727; */
	list-style-type: none;
}
header li {
	/* width: 100%; */
	/* border: 1px dashed black; */
	padding: 8px 10px;
	display: inline;
	/* float: left; */
	color: white;
}
header li:hover {
	background-color: white;
	color: black;
}
header .active {
	border: 3px #f04870;
	border-style: none none solid none;
	/* background: #424242; */
}
/* hero styling */
.heroContainer {
	margin: 10px 0px;
	border: 1px dashed black;
	width: 100%;
	height: 500px;
	/* background-color: rgba(0, 0, 0, 0.1); */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* section styling */
.jeffVariety {
 /* display: flex; */
 /* flex-direction: column; */
 /* justify-content: center; */
 text-align: center;
}
.productContainer {
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

/* footer styling  */
footer {
	background: #f878a0;
}
footer .footerCopyright {
	background: #e87098;
	display: flex;
	justify-content: space-between;
}